.guides {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem -.5rem 2rem;
}

.guide {
  flex: 0 0 33%;
  align-items: center;
  display: inline-flex;
  padding: 0 0.5rem 1.5rem;
  margin: 0 auto;
  text-align: center;
}
.guide a {
  box-shadow: 0 1px 10px rgb(0 0 0 / 15%);
  width: 200px;
  height: 150px;
  padding-top: 27px;
  text-decoration: none;
  background: #fff;
  transition-property: transform,box-shadow,border-color;
  transition-duration: .15s;
  transition-timing-function: ease-out;
}
.guide a:hover{
  transform: translateY(-2px);
  box-shadow: 0 1px 30px rgb(0 0 0 / 15%);
}
.guide svg {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.guide h4 {
  margin: 10px auto;
  font-weight: 700;
  font-size: 0.95rem;
  white-space: nowrap;
  text-align: center;
  display: block;
}
@media (max-width: 860px) {
  .guide {
    padding-left: 0;
    margin-left: 0;
    width: 50%;
  }
  .guide h4 {
    font-size: 0.75rem;
  }
}