@tailwind base;

html {
  @apply subpixel-antialiased;
  font-size: 16px;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
  scroll-behavior: smooth;
}
body {
  @apply bg-white;
}
.dark body {
  @apply bg-dark text-gray-100;
}

h1 {
  @apply text-4xl font-bold tracking-tight mt-2;
}
h2 {
  @apply text-3xl font-semibold tracking-tight mt-10;
  @apply pb-1 border-b;
}
.dark h2 {
  @apply border-gray-900;
}
h3 {
  @apply text-2xl font-semibold tracking-tight mt-8;
}
h4 {
  @apply text-xl font-semibold tracking-tight mt-8;
}
h5 {
  @apply text-lg font-semibold tracking-tight mt-8;
}
h6 {
  @apply text-base font-semibold tracking-tight mt-8;
}
a {
  @apply text-blue-500 underline;
  text-underline-position: under;
}
p {
  @apply leading-7;
}
p:not(:first-child),
blockquote:not(:first-child),
table:not(:first-child) {
  @apply mt-6;
}
hr {
  @apply my-8;
}
.dark hr {
  @apply border-gray-900;
}
code {
  @apply text-gray-800 bg-gray-500 bg-opacity-25 rounded;
}
.dark code {
  @apply text-gray-300 bg-gray-800;
}
pre {
  @apply p-4 bg-gray-200 rounded-lg mt-6 mb-4 overflow-x-auto relative;
  @apply dark:bg-gray-800;
  grid-template-rows: max-content;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  display: inline-grid;
  grid-template-rows: max-content;
  width: 100%;
}
pre code {
  @apply p-0 text-sm text-black bg-transparent rounded-none inline-block min-w-full overflow-x-auto;
  grid-template-rows: max-content;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  display: inline-grid;
  grid-template-rows: max-content;
  width: 100%;
}
a code {
  @apply text-current no-underline;
}

@tailwind components;
@tailwind utilities;

.main-container {
  min-height: 100vh;
}

.sidebar {
  @apply select-none md:border-r;
}
.sidebar ul ul {
  @apply ml-5 relative;
}
.sidebar a:focus-visible,
.sidebar button:focus-visible {
  @apply ring;
}
.sidebar .active-anchor {
  @apply font-semibold text-gray-900 dark:text-white;
}
.sidebar li.active > a {
  @apply font-semibold text-black bg-gray-200;
}
.dark .sidebar li.active > a {
  @apply text-white bg-gray-800;
}
.sidebar button,
.sidebar a {
  @apply block w-full text-left text-base no-underline text-gray-600 mt-1 p-2 rounded select-none outline-none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.dark .sidebar button,
.dark .sidebar a {
  @apply text-gray-500;
}
.sidebar a:hover,
.sidebar button:hover {
  @apply text-gray-900 bg-gray-100;
}
.dark .sidebar a:hover,
.dark .sidebar button:hover {
  @apply text-white bg-gray-900;
}
article ul {
  @apply list-disc ml-6 mt-6;
}
article li {
  @apply mt-2;
}
article ol {
  @apply list-decimal ml-6 mt-6;
}
article blockquote {
  @apply italic pl-6 border-l-2 border-gray-300 text-gray-700;
  @apply dark:border-gray-700 dark:text-gray-400;
}

.subheading-anchor {
  margin-top: -84px;
  display: inline-block;
  position: absolute;
  width: 1px;
}

.subheading-anchor + a:hover .anchor-icon {
  opacity: 1;
}
.anchor-icon {
  opacity: 0;
  @apply ml-2 text-gray-500 select-none;
}
.dark .anchor-icon {
  @apply text-gray-700;
}

h2 a {
  @apply no-underline;
}

/* Navbar */
.nextra-container nav a:focus,
.nextra-container nav summary:focus {
  @apply select-none outline-none;
}
.nextra-container nav a:focus-visible,
.nextra-container nav summary:focus-visible {
  @apply ring select-none outline-none;
}

/* Search */
.nextra-search input {
  @apply border-gray-300 text-gray-900;
}
.dark .nextra-search input {
  @apply bg-dark border-gray-800 text-gray-100;
}
.nextra-search input::placeholder {
  @apply text-gray-400;
}
.dark .nextra-search input::placeholder {
  @apply text-gray-700;
}
.nextra-search ul {
  @apply rounded border bg-white text-gray-100 border-gray-300 divide-gray-300 overflow-hidden shadow-lg list-none;
}
.dark .nextra-search ul {
  @apply bg-dark text-gray-100 border-gray-700 divide-gray-700;
}
.nextra-search ul li {
  @apply text-gray-800;
}
.nextra-search ul li.active,
.nextra-search ul a:focus li {
  @apply bg-gray-200;
}
.dark .nextra-search ul li {
  @apply text-gray-300;
}
.dark .nextra-search ul li.active,
.dark .nextra-search ul a:focus li {
  @apply bg-gray-800;
}
.nextra-search ul li .highlight {
  @apply bg-yellow-300;
}
.dark .nextra-search ul li .highlight {
  @apply bg-yellow-700;
}
.search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.nextra-search.nextra-stork ul {
  @apply overflow-auto left-0 md:-left-80 md:right-0;
  max-height: min(calc(100vh - 80px), 400px);
  max-width: min(calc(100vw - 3rem), calc(100% + 20rem));
  width: 100vw;
}

code {
  font-size: 0.9em;
  padding: 2px 0.25em;
}

/* Locale */
.locale-switch summary::-webkit-details-marker {
  content: '';
  display: none;
}
.locale-switch summary::marker {
  content: '';
  display: none;
}
.locale-switch[open] summary:before {
  content: ' ';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  cursor: default;
  background: transparent;
}
.locale-switch .locale-dropdown {
  position: absolute;
  z-index: 11;
}

/* Table */
table {
  @apply p-0;
}
table tr {
  @apply m-0 p-0 border-t border-gray-300;
  @apply dark:border-gray-700;
}
table tr:nth-child(2n) {
  @apply bg-gray-100;
  @apply dark:bg-gray-900;
}
table tr th {
  @apply font-semibold;
}
table tr th[align='center'],
table tr td[align='center'] {
  @apply text-center;
}
table tr th[align='right'],
table tr td[align='right'] {
  @apply text-right;
}
table tr th,
table tr td {
  @apply text-left;
  @apply m-0 px-4 py-2 border border-gray-300;
  @apply dark:border-gray-700;
}

.contains-task-list {
  @apply list-none ml-0;
}

.contains-task-list input[type='checkbox'] {
  @apply mr-1;
}

pre .prism-code {
  --c-highlight: #cce0f5;
}
.dark pre .prism-code {
  --c-highlight: #3d4b61;
}
pre .prism-code .token.plain,
pre .prism-code .token.builtin,
pre .prism-code .token.char,
pre .prism-code .token.constant {
  color: #000 !important;
}
.dark pre .prism-code .token.plain,
.dark pre .prism-code .token.builtin,
.dark pre .prism-code .token.char,
.dark pre .prism-code .token.constant {
  color: #fff !important;
}
pre .prism-code .token.string,
pre .prism-code .token.url,
pre .prism-code .token.attr-value {
  color: #028265 !important;
}
.dark pre .prism-code .token.string,
.dark pre .prism-code .token.url,
.dark pre .prism-code .token.attr-value {
  color: #20bb98 !important;
}
pre .prism-code .token.punctuation,
pre .prism-code .token.operator {
  color: #333 !important;
}
.dark pre .prism-code .token.punctuation,
.dark pre .prism-code .token.operator {
  color: #bbb !important;
}
pre .prism-code .token.number,
pre .prism-code .token.function,
pre .prism-code .token.tag:not(.script) {
  color: #0076ff !important;
}
.dark pre .prism-code .token.number,
.dark pre .prism-code .token.function,
.dark pre .prism-code .token.tag:not(.script) {
  color: #1e86ff !important;
}

/* RTL */
.nextra-container.rtl {
  direction: rtl;
}
.nextra-container.rtl .sidebar ul ul {
  @apply mr-5 ml-0;
}
.nextra-container.rtl .sidebar button,
.nextra-container.rtl .sidebar a {
  @apply text-right;
}
.nextra-container.rtl article blockquote {
  @apply pr-6 border-r-2 pl-0 border-l-0;
}
.nextra-container:not(.rtl) article.docs-container {
  @apply xl:pr-72;
}
.nextra-container.rtl .docs-container {
  @apply xl:pl-72;
}
@screen md {
  .nextra-container article.docs-container .bleed.full {
    margin-left: calc(-50vw + 50% + 8rem);
    margin-right: calc(-50vw + 50% + 8rem);
  }
}
@screen xl {
  .nextra-container:not(.rtl) article.docs-container .bleed.full {
    margin-left: calc(50% - 50vw + 16rem);
    margin-right: calc(50% - 50vw);
  }
  .nextra-container.rtl .docs-container .bleed.full {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw + 16rem);
  }
}
.nextra-container.rtl code {
  direction: ltr;
}
.nextra-container.rtl .anchor-icon {
  @apply ml-0 mr-2 inline-block;
}
.nextra-container.rtl article ul,
.nextra-container.rtl article ol {
  @apply ml-0 mr-6;
}
.nextra-container.rtl .sidebar {
  @apply md:border-l;
}
/* Chevron */
.chevron-down {
  @apply float-right relative mt-2 mr-0;
}
.chevron-right {
  @apply float-right relative mt-1 mr-1;
}

.docs-search > span {
  width: 100%;
}
.docs-search {
  max-width: 500px;
}
.docs-search input {
  padding-left: 35px;
}
.dark .docs-search input {
  border: 2px solid #909bba;
  background-color: #111;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header span {
  display: inline-block;
}
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  min-width: 300px;
  max-width: calc(100vw - 50px);
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none z-50;
}

code {
  @apply text-sm;
}
.dark .cosmic-logo-icon,
.dark .cosmic-logo-text {
  fill: #fff;
}
@media (max-width: 860px) {
  table {
    display: block;
    margin: 0 auto;
    overflow-x: auto;
  }
}

/* Tabs */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin-top: 20px;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgba(226, 232, 240);
  border-width: 1px;
}
.react-tabs__tab-list {
  padding: 0 20px 0 15px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid rgba(226, 232, 240);
  margin: 0;
  min-width: 500px;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 0;
}
.react-tabs__tab--selected {
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 4px solid #3dbff5 !important;
  top: 6px;
}
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}
.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: block;
  padding: 20px;
}
.react-tabs__tab .label-icon {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  margin-top: 2px;
}
.react-tabs__tab .label-icon svg {
  height: 100%;
  margin: 0 auto;
}
.react-tabs__tab .label-text,
.react-tabs__tab .label-icon {
  @apply float-left;
}
.react-tabs__tab--selected .label-text,
.react-tabs__tab--selected .label-icon {
  position: relative;
  top: -2px;
}
.tablist-wrapper {
  overflow-x: auto;
}
/* Dark */
.dark .react-tabs {
  border-color: rgba(226, 232, 240, 0.5);
}
.dark .react-tabs__tab-list {
  border-bottom: 1px solid rgba(226, 232, 240, 0.5);
}

/* Reset video */
video {
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  cursor: inherit !important;
}

/* Postman */
.postman-button {
  display: inline-block;
  border-radius: 6px;
  background: #f47023;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
}
/* Sidebar */
.sidebar .active-anchor {
  font-weight: bold !important;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.search-slash {
  position: absolute;
  right: 8px;
  top: 6px;
  padding: 7px;
  background: #eef2f7;
  border-radius: 4px;
}
.dark .search-slash {
  background: #090d20;
}
.copied {
  position: absolute;
  top: -26px;
  right: -10px;
  padding: 10px;
  @apply text-gray-900 text-sm bg-gray-200 dark:bg-gray-800;
}

.algolia-autocomplete pre {
  display: none;
}
/* Docs toggle */
.docs-toggle {
  padding: 9px 8px;
  @apply border border-white dark:border-gray-900;
}
.docs-toggle:focus-visible {
  @apply ring;
}
